* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", "Sans-Serif", Arial, sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #f9f9f9;
    background: oklch(88.425% 0.0572 10.115);
    color: oklch(71.2% 0.194 13.428);

}

#page {
    max-width: 120rem;
    margin-inline: auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    
}

header {
    padding-block: 2rem;
    text-align: center;
}

fieldset {
    padding: 1.5rem;
    margin-bottom: 3rem;
}