* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", "Sans-Serif", Arial, sans-serif;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #f9f9f9;
    background: oklch(88.425% 0.0572 10.115);
    color: oklch(71.2% 0.194 13.428);
    padding-inline: 2rem;

}

#page {
    max-width: 120rem;
    margin-inline: auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(196, 69, 90, 0.833); 
}

header {
    padding-block: 2rem;
    text-align: center;
}

fieldset {
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

fieldset label {
    display: block;
    margin-bottom: 0.5rem;
}

fieldset div {
    margin-bottom: 1rem;
}

fieldset input {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    color: oklch(62.895% 0.24362 1.01);
}

fieldset input:focus,
fieldset input:hover {
    outline: 2px solid oklch(80.8% 0.114 19.571);
}

fieldset input::placeholder {
    color:  oklch(80.8% 0.114 19.571);
}

fieldset input[type=file] {
    color: #c45de9;
}

fieldset input[type=checkblox],
fieldset input[type=radio] {
    outline: none;

}

fieldset input + label {
    display: inline;
}


fieldset h2 {
    margin-block: 2rem;
}

fieldset select,
fieldset textarea {
    padding: 1rem;
    border-radius: 1rem;
    resize: none;
}

button {
  background-color: #c45de9;
  color: #f9f9f9;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

    button:hover {
        background: #a13fd6;
       transform: scale(1.05);

    }